<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <div class="header">
      <h2>File Metadata Microservice</h2>
    </div>
      <div class="container">        

        <h3><u>Details :</u></h3>
        <p>
          Returns name, type and size of uploaded file.
        </p>
        <div class="codeContainer">
          <div class="titleCode">JSON response</div>
          <div class="innerCode">
            { "name": 'file.txt', "type": 'text/plain', "size": 789 }
          </div>
        </div>
        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      
   </body>
</html>
